.about {
    background-color: #e61f5b;
    margin-bottom: 4rem;
    padding: 4rem;

    &__header {
        text-align: center;
        color: #fff;
        padding: 5rem 0;

        h2 {
            font-size: 6rem;
        }

        h3 {
            font-size: 2.5rem;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
        text-align: center;

        @media only screen and (max-width: 900px) {
            grid-template-columns: 1fr;
            grid-row-gap: 10rem;
        }
    }

    &__svg {
        height: 5rem;
        width: 5rem;
        margin-bottom: 5rem;
    }

    &__blurb {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        h4 {
            font-size: 3rem;
            margin-bottom: 3rem;
        }

        p {
            font-size: 2rem;
            font-weight: 200;
        }
    }
}