.about {
    background-color: #e61f5b;
    margin-bottom: 4rem;

    &__header {
        text-align: center;
        color: #fff;
        padding: 5rem 0;

        h2 {
            font-size: 6rem;
        }

        h3 {
            font-size: 2.5rem;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;

        @media only screen and (max-width: 900px) {
            grid-template-columns: 1fr;
        }
    }

    &__svg {
        height: 5rem;
        width: 5rem;
        margin-bottom: 5rem;
        transition: all 1s ease;

        &:hover {
            height: 6rem;
            width: 6rem;
        }
    }

    &__blurb {
        padding: 5rem;

        h4 {
            font-size: 2rem;
            margin-bottom: 3rem;
        }

        p {
            font-size: 1.8rem;
        }
    }
}