.header {
    background-image: linear-gradient(to right bottom,
    rgba(0, 0, 0, 1),
     rgba(230, 31, 91, 0.3)), url("../img/fotis-fotopoulos-DuHKoV44prg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;

    &__content {
        padding: 15rem 0;

        &--title {
            color: #e61f5b;
            font-size: 10rem;
            text-align: center;

            @media only screen and (max-width: 600px) {
                font-size: 5rem;
            }
        }

        &--sub {
            text-align: center;
            font-size: 3rem;
            color: #fff;
        }
    }
}