nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
    background-color: #fff;
    position: fixed;
    z-index: 10;
    width: 100%;
}

.logo {
    color: #999999;
    text-transform: uppercase;
    font-size: 2rem;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.nav-links li {
    list-style: none;
    transition: all .4s ease;
}

.nav-links a {
    color: #999999;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.6rem;
}

.nav-links a:hover {
    border-bottom: .2rem solid #e61f5b;
}

.burger {
    display: none;
}

.burger div {
    width: 2.5rem;
    height: .3rem;
    background-color: #999999;
    margin: .5rem;
    transition: all 0.4s ease;
}


@media only screen and (max-width: 1000px) {
    .nav-links {
        width: 60%;
    }
}

@media only screen and (max-width: 700px) {
    body {
        overflow-x: hidden;
    }

    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 15vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0);
    transition: transform 0.5s ease-in;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(5rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-0.5rem, 0.6rem);

}

.toggle .line2 {
    opacity: 0;
    
}

.toggle .line3 {
    transform: rotate(45deg) translate(-0.5rem, -0.6rem);
    
}