.portfolio-port {
    height: 100rem;
    background-color: #e61f5b;
    margin-bottom: 4rem;

    &__heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 20%;
        color: #fff;

        h2 {
            font-size: 6rem;
        }

        h3 {
            font-size: 2.5rem;
        }
    }

    &__snaps {
        height: 80%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media only screen and (max-width: 900px) {
            grid-template-columns: 1fr;
        }

        &--card {
            background-size: cover;
            background-position: center;

            &-1 {
                background-image: url("../img/portfolio/ben-kolde-FaPxZ88yZrw-unsplash.jpg");

            }

            &-2 {
                background-image: url("../img/portfolio/edho-pratama-yeB9jDmHm6M-unsplash.jpg");

            }

            &-3 {
                background-image: url("../img/portfolio/gabriel-beaudry-70rHtD11NNk-unsplash.jpg");

            }

            &-4 {
                background-image: url("../img/portfolio/luca-bravo-XJXWbfSo2f0-unsplash.jpg");

            }

            &-5 {
                background-image: url("../img/portfolio/s-o-c-i-a-l-c-u-t-hCjo_bIkVig-unsplash.jpg");

            }

            &-6 {
                background-image: url("../img/portfolio/szabo-viktor-r_r0VQfi5Pk-unsplash.jpg");

            }

            &-7 {
                background-image: url("../img/portfolio/taras-shypka-iFSvn82XfGo-unsplash.jpg");

            }

            &-8 {
                background-image: url("../img/portfolio/tracy-adams-TEemXOpR3cQ-unsplash.jpg");

            }

            &-9 {
                background-image: url("../img/portfolio/william-iven-ir5lIkVFqC4-unsplash.jpg");

            }
        }
    }
}