@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 35%;
  }
}
@media only screen and (max-width: 300px) {
  html {
    font-size: 30%;
  }
}
@media only screen and (max-width: 200px) {
  html {
    font-size: 25%;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(240, 135, 0, 0), rgba(0, 0, 0, 0.3)), url("../img/fotis-fotopoulos-DuHKoV44prg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__content--title {
  color: #f49f0a;
  font-size: 10rem;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .header__content--title {
    font-size: 5rem;
  }
}
.header__content--sub {
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 15vh;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.logo {
  color: #999999;
  text-transform: uppercase;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #999999;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.6rem;
}

.burger {
  display: none;
}

.burger div {
  width: 2.5rem;
  height: 0.3rem;
  background-color: #999999;
  margin: 0.5rem;
  transition: all 0.4s ease;
}

@media only screen and (max-width: 1000px) {
  .nav-links {
    width: 60%;
  }
}
@media only screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 15vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}
.nav-active {
  transform: translateX(0);
  transition: transform 0.5s ease-in;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-0.5rem, 0.6rem);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-0.5rem, -0.6rem);
}

.main {
  padding: 0 3rem;
  position: relative;
  top: 15vh;
}

/*# sourceMappingURL=style.css.map */
