@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 35%;
  }
}
@media only screen and (max-width: 300px) {
  html {
    font-size: 30%;
  }
}
@media only screen and (max-width: 200px) {
  html {
    font-size: 25%;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-image: linear-gradient(to right bottom, black, rgba(230, 31, 91, 0.3)), url("../img/fotis-fotopoulos-DuHKoV44prg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.header__content {
  padding: 15rem 0;
}
.header__content--title {
  color: #e61f5b;
  font-size: 10rem;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .header__content--title {
    font-size: 5rem;
  }
}
.header__content--sub {
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 11rem;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.logo {
  color: #999999;
  text-transform: uppercase;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links li {
  list-style: none;
  transition: all 0.4s ease;
}

.nav-links a {
  color: #999999;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.6rem;
}

.nav-links a:hover {
  border-bottom: 0.2rem solid #e61f5b;
}

.burger {
  display: none;
}

.burger div {
  width: 2.5rem;
  height: 0.3rem;
  background-color: #999999;
  margin: 0.5rem;
  transition: all 0.4s ease;
}

@media only screen and (max-width: 1000px) {
  .nav-links {
    width: 60%;
  }
}
@media only screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 11rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}
.nav-active {
  transform: translateX(0);
  transition: transform 0.5s ease-in;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-0.5rem, 0.6rem);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-0.5rem, -0.6rem);
}

.about {
  background-color: #e61f5b;
}
.about__header {
  text-align: center;
  color: #fff;
  padding: 5rem 0;
}
.about__header h2 {
  font-size: 6rem;
}
.about__header h3 {
  font-size: 2.5rem;
}
.about__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}
@media only screen and (max-width: 900px) {
  .about__content {
    grid-template-columns: 1fr;
  }
}
.about__svg {
  height: 5rem;
  width: 5rem;
}
.about__blurb {
  padding: 5rem;
}
.about__blurb h4 {
  font-size: 2rem;
}
.about__blurb p {
  font-size: 1.8rem;
}

.intro {
  display: flex;
  background-color: #ededed;
  padding: 10rem 0;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 700px) {
  .intro {
    flex-direction: column;
  }
}
.intro__title {
  width: 50%;
  padding: 3rem;
}
@media only screen and (max-width: 700px) {
  .intro__title {
    width: 100%;
  }
}
.intro__title h2 {
  font-size: 6rem;
  text-align: right;
  color: #141939;
}
@media only screen and (max-width: 700px) {
  .intro__title h2 {
    text-align: left;
  }
}
.intro__content {
  width: 50%;
  padding: 3rem;
}
@media only screen and (max-width: 700px) {
  .intro__content {
    width: 100%;
  }
}
.intro__content p {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #141939;
}
.intro__button {
  border: 0.5rem solid #e61f5b;
  background-color: rgba(0, 0, 0, 0);
  color: #e61f5b;
  padding: 2rem 8rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  transition: all 0.4s ease;
  margin-top: 5rem;
}
.intro__button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #e61f5b;
}

.main {
  padding: 0 3rem;
  position: relative;
  top: 11rem;
}

/*# sourceMappingURL=style.css.map */
