@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 1000px) {
  html {
    font-size: 55%;
  }
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 45%;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 40%;
  }
}
@media only screen and (max-width: 400px) {
  html {
    font-size: 35%;
  }
}
@media only screen and (max-width: 300px) {
  html {
    font-size: 30%;
  }
}
@media only screen and (max-width: 200px) {
  html {
    font-size: 25%;
  }
}

body {
  font-family: "Oswald", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  display: inline-block;
  border: 0.5rem solid #e61f5b;
  background-color: rgba(0, 0, 0, 0);
  color: #e61f5b;
  padding: 2rem 8rem;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  transition: all 0.4s ease;
  margin-top: 5rem;
}
.btn:hover {
  cursor: pointer;
  color: #fff;
  background-color: #e61f5b;
}
.btn-contact {
  color: #fff;
  border: 0.5rem solid #fff;
}
.btn-contact:hover {
  color: #000;
  background-color: #fff;
}

.card {
  background-color: #fff;
  border-radius: 5rem;
  box-shadow: 1rem 2rem 2rem 1rem rgba(0, 0, 0, 0.3);
}

.header {
  background-image: linear-gradient(to right bottom, black, rgba(0, 0, 0, 0.3)), url("../img/home/fotis-fotopoulos-DuHKoV44prg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.header__content {
  padding: 15rem 0;
}
.header__content--title {
  color: #e61f5b;
  font-size: 10rem;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .header__content--title {
    font-size: 5rem;
  }
}
.header__content--sub {
  text-align: center;
  font-size: 3rem;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 11rem;
  background-color: #fff;
  position: fixed;
  z-index: 10;
  width: 100%;
}

.logo {
  color: #999999;
  text-transform: uppercase;
  font-size: 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.nav-links li {
  list-style: none;
  transition: all 0.4s ease;
}

.nav-links a {
  color: #999999;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.6rem;
}

.nav-links a:hover {
  border-bottom: 0.2rem solid #e61f5b;
}

.burger {
  display: none;
}

.burger div {
  width: 2.5rem;
  height: 0.3rem;
  background-color: #999999;
  margin: 0.5rem;
  transition: all 0.4s ease;
}

@media only screen and (max-width: 1000px) {
  .nav-links {
    width: 60%;
  }
}
@media only screen and (max-width: 700px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 11rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}
.nav-active {
  transform: translateX(0);
  transition: transform 0.5s ease-in;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-0.5rem, 0.6rem);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-0.5rem, -0.6rem);
}

.about-description {
  background-color: #000000;
  display: flex;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 900px) {
  .about-description {
    flex-direction: column-reverse;
  }
}
.about-description__left {
  width: 50%;
  color: #fff;
  padding: 3rem;
}
@media only screen and (max-width: 900px) {
  .about-description__left {
    width: 100%;
  }
}
.about-description__left p {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.about-description__right {
  width: 50%;
  color: #e61f5b;
  padding: 3rem;
}
@media only screen and (max-width: 900px) {
  .about-description__right {
    width: 100%;
  }
}
.about-description__right h2 {
  font-size: 10rem;
}

.about-section__header {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 900px) {
  .about-section__header {
    flex-direction: column;
  }
}
.about-section__header--left {
  width: 50%;
}
@media only screen and (max-width: 900px) {
  .about-section__header--left {
    width: 100%;
  }
}
.about-section__header--right {
  width: 50%;
  padding: 3rem;
}
@media only screen and (max-width: 900px) {
  .about-section__header--right {
    width: 100%;
  }
}
.about-section__header--right p {
  font-size: 3rem;
}
.about-section__header--img {
  width: 100%;
}

.about-interest {
  background-color: #ededed;
  text-align: center;
}
.about-interest__content {
  padding: 5rem 0;
}
.about-interest__content h2 {
  font-size: 6rem;
}
.about-interest__content p {
  font-size: 2rem;
}

.testimonials.about-testimonials {
  background-color: #e61f5b;
}
.testimonials.about-testimonials p {
  color: #fff;
}
.testimonials.about-testimonials h2 {
  color: #fff;
}

.about-why {
  background-color: #ededed;
  display: flex;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 900px) {
  .about-why {
    flex-direction: column;
  }
}
.about-why__left {
  width: 50%;
  padding: 3rem;
}
@media only screen and (max-width: 900px) {
  .about-why__left {
    width: 100%;
  }
}
.about-why__left h2 {
  font-size: 8rem;
}
.about-why__right {
  width: 50%;
  padding: 3rem;
}
@media only screen and (max-width: 900px) {
  .about-why__right {
    width: 100%;
  }
}
.about-why__right p {
  font-size: 2rem;
}

.contact {
  background-color: #e61f5b;
  margin-bottom: 4rem;
  color: #fff;
}
.contact h1 {
  font-size: 10rem;
  text-align: center;
}
.contact p {
  font-size: 2rem;
  margin-bottom: 5rem;
  text-align: center;
}
.contact__form {
  display: flex;
  flex-direction: column;
  padding: 5rem;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 900px) {
  .form-group {
    flex-direction: column;
    margin: 0;
  }
}

.form-input {
  width: 45%;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 0.4rem solid #fff;
  padding: 1rem;
  font-size: 2rem;
  color: #fff;
}
@media only screen and (max-width: 900px) {
  .form-input {
    width: 100%;
    margin-bottom: 4rem;
  }
}

.message-input {
  height: 20rem;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 0.4rem solid #fff;
  padding: 1rem;
  font-size: 2rem;
  color: #fff;
}

.about {
  background-color: #e61f5b;
  margin-bottom: 4rem;
  padding: 4rem;
}
.about__header {
  text-align: center;
  color: #fff;
  padding: 5rem 0;
}
.about__header h2 {
  font-size: 6rem;
}
.about__header h3 {
  font-size: 2.5rem;
}
.about__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  text-align: center;
}
@media only screen and (max-width: 900px) {
  .about__content {
    grid-template-columns: 1fr;
  }
}
.about__svg {
  height: 5rem;
  width: 5rem;
  margin-bottom: 5rem;
}
.about__blurb {
  padding: 2rem;
}
.about__blurb h4 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.about__blurb p {
  font-size: 1.4rem;
  font-weight: 200;
}

.footer {
  position: relative;
  top: 11rem;
  display: flex;
  justify-content: space-between;
  padding: 5rem;
}
@media only screen and (max-width: 900px) {
  .footer {
    flex-direction: column;
  }
}
@media only screen and (max-width: 900px) {
  .footer__about {
    margin-bottom: 5rem;
  }
}
.footer__about h2 {
  font-size: 3rem;
  color: #e61f5b;
  margin-bottom: 5rem;
}
.footer__about p {
  font-size: 1.8rem;
}
.footer__about--icon {
  width: 3rem;
  height: 3rem;
  fill: #e61f5b;
  margin-right: 1rem;
}
.footer__about--social {
  margin-bottom: 5rem;
}
@media only screen and (max-width: 900px) {
  .footer__services, .footer__links {
    margin-bottom: 5rem;
  }
}
.footer__services h3, .footer__links h3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.footer__link {
  font-size: 1.6rem;
}
.footer__item {
  margin-bottom: 1.5rem;
}

.intro {
  display: flex;
  background-color: #ededed;
  padding: 10rem 0;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 700px) {
  .intro {
    flex-direction: column;
  }
}
.intro__title {
  width: 50%;
  padding: 3rem;
}
@media only screen and (max-width: 700px) {
  .intro__title {
    width: 100%;
  }
}
.intro__title h2 {
  font-size: 6rem;
  text-align: right;
  color: #141939;
}
@media only screen and (max-width: 700px) {
  .intro__title h2 {
    text-align: left;
  }
}
.intro__content {
  width: 50%;
  padding: 3rem;
}
@media only screen and (max-width: 700px) {
  .intro__content {
    width: 100%;
  }
}
.intro__content p {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #141939;
}

.main {
  padding: 0 3rem;
  position: relative;
  top: 11rem;
}

.portfolio {
  height: 70rem;
  background-color: #ededed;
  margin-bottom: 4rem;
}
.portfolio__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40%;
}
.portfolio__heading h2 {
  font-size: 6rem;
}
.portfolio__heading h3 {
  font-size: 2.5rem;
}
.portfolio__snaps {
  height: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 900px) {
  .portfolio__snaps {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 30rem);
  }
}
.portfolio__snaps--overlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio__snaps--overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}
.portfolio__snaps--overlay h2 {
  color: #fff;
}
.portfolio__snaps--card {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 10;
}
.portfolio__snaps--card-1 {
  background-image: url("../img/home/andras-vas-Bd7gNnWJBkU-unsplash.jpg");
}
.portfolio__snaps--card-2 {
  background-image: url("../img/home/daniel-korpai-8GDCzWrcE3M-unsplash.jpg");
}
.portfolio__snaps--card-3 {
  background-image: url("../img/home/niclas-illg-wzVQp_NRIHg-unsplash.jpg");
}

.start {
  background-color: #ededed;
  text-align: center;
}
.start__content {
  padding: 5rem 0;
}
.start__content h2 {
  font-size: 6rem;
}

.testimonials {
  background-color: #000;
  color: #e61f5b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 900px) {
  .testimonials {
    flex-direction: column;
  }
}
.testimonials__heading {
  width: 50%;
  text-align: center;
  padding: 3rem;
}
@media only screen and (max-width: 700px) {
  .testimonials__heading {
    width: 100%;
  }
}
.testimonials__heading h2 {
  font-size: 6rem;
}
.testimonials__content {
  width: 50%;
  padding: 3rem;
}
@media only screen and (max-width: 700px) {
  .testimonials__content {
    width: 100%;
  }
}
.testimonials__content--main {
  font-size: 2.5rem;
  margin-bottom: 4rem;
}
.testimonials__content--name {
  font-size: 2rem;
}
.testimonials__content--pos {
  font-size: 1.8rem;
}

.portfolio-port {
  background-color: #e61f5b;
  margin-bottom: 4rem;
}
.portfolio-port__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 20%;
  color: #fff;
}
.portfolio-port__heading h2 {
  font-size: 6rem;
}
.portfolio-port__heading h3 {
  font-size: 2.5rem;
}
.portfolio-port__snaps {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 30rem);
}
@media only screen and (max-width: 900px) {
  .portfolio-port__snaps {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 30rem);
  }
}
.portfolio-port__snaps--overlay {
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portfolio-port__snaps--overlay:hover {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
}
.portfolio-port__snaps--overlay h2 {
  color: #fff;
}
.portfolio-port__snaps--card {
  background-size: cover;
  background-position: center;
}
.portfolio-port__snaps--card-1 {
  background-image: url("../img/portfolio/ben-kolde-FaPxZ88yZrw-unsplash.jpg");
}
.portfolio-port__snaps--card-2 {
  background-image: url("../img/portfolio/edho-pratama-yeB9jDmHm6M-unsplash.jpg");
}
.portfolio-port__snaps--card-3 {
  background-image: url("../img/portfolio/gabriel-beaudry-70rHtD11NNk-unsplash.jpg");
}
.portfolio-port__snaps--card-4 {
  background-image: url("../img/portfolio/luca-bravo-XJXWbfSo2f0-unsplash.jpg");
}
.portfolio-port__snaps--card-5 {
  background-image: url("../img/portfolio/s-o-c-i-a-l-c-u-t-hCjo_bIkVig-unsplash.jpg");
}
.portfolio-port__snaps--card-6 {
  background-image: url("../img/portfolio/szabo-viktor-r_r0VQfi5Pk-unsplash.jpg");
}
.portfolio-port__snaps--card-7 {
  background-image: url("../img/portfolio/taras-shypka-iFSvn82XfGo-unsplash.jpg");
}
.portfolio-port__snaps--card-8 {
  background-image: url("../img/portfolio/tracy-adams-TEemXOpR3cQ-unsplash.jpg");
}
.portfolio-port__snaps--card-9 {
  background-image: url("../img/portfolio/william-iven-ir5lIkVFqC4-unsplash.jpg");
}

.service-header {
  background-color: #e61f5b;
  margin-bottom: 4rem;
}
.service-header__content {
  padding: 20rem 0;
  text-align: center;
  color: #fff;
}
.service-header__content h1 {
  font-size: 10rem;
}
.service-header__content p {
  font-size: 3rem;
}

.service-services {
  height: 70rem;
  background-color: #ededed;
  margin-bottom: 4rem;
}
.service-services__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40%;
}
.service-services__heading h2 {
  font-size: 6rem;
}
.service-services__heading h3 {
  font-size: 2.5rem;
}
.service-services__snaps {
  height: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 900px) {
  .service-services__snaps {
    grid-template-columns: 1fr;
  }
}
.service-services__snaps--card {
  background-size: cover;
  background-position: center;
}
.service-services__snaps--card-1 {
  background-image: url("../img/services/ben-kolde-Ajcipx1VDXI-unsplash.jpg");
}
.service-services__snaps--card-2 {
  background-image: url("../img/services/diego-ph-fIq0tET6llw-unsplash.jpg");
}
.service-services__snaps--card-3 {
  background-image: url("../img/services/kobu-agency-0mletxmBcVQ-unsplash.jpg");
}

/*# sourceMappingURL=style.css.map */
