.service-header {
    background-color: #e61f5b;
    margin-bottom: 4rem;

    &__content {
        padding: 20rem 0;
        text-align: center;
        color: #fff;

        h1 {
            font-size: 10rem;
        }

        p {
            font-size: 3rem;
        }
    }
}